@import url("styles.css");

html,
body {
  margin: 0;
}

.topnav {
  position: relative;
  overflow: hidden;
  text-align: right;
  border-bottom: 25px;
  z-index: 35;
}

.transparent-gray-background {
  background-color: rgba(128, 128, 128, 0.5);
  /* Gray with 50% transparency */
  padding: 20px;
  /* Optional: Add some padding */
  border-radius: 5px;
  /* Optional: Rounded corners */
}

.topnav a {
  float: right;
  /* Align menu items to the right */
  display: block;
  color: var(--blue-t04);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.topnav a:hover {
  background-color: var(--c-amaranth);
  color: var(--blue-t04);
  border-radius: 10px;
}

.topnav a.active {
  color: var(--blue-t03);
  background-color: var(--c-amaranth);
}

.topnav .icon {
  float: right;
  /* Ensure the icon is on the right */
  display: none;
  /* Hidden by default */
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    display: block;
  }

  /* Hide the active item when the hamburger menu is enabled */
  .topnav a.active {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
