/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links a {
    color: var(--blue-t06);
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #ffa500;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative;
}
.dropdown {
    background-color: #ffc04c;
    padding: 1em 0;
    position: absolute;
   /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #ffa500;
}
.services:hover .dropdown {
    display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* style.css */
.navbar {
    display: flex;
    justify-content: space-between; /* Positions elements at opposite ends */
    align-items: center; /* Aligns items vertically at the same level */
    background-color: #333;
    padding: 10px;
}

.logo img {
    height: 40px; /* Adjust as needed */
    width: auto;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px; /* Adjust as needed */
    width: 35px; /* Adjust as needed */
    cursor: pointer;
}

.hamburger-menu div {
    height: 3px;
    background-color: white;
    border-radius: 2px;
}



/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display:none;
        position: absolute;
        background-color:#ffa500;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
   }
    .menu li:hover {
        display: inline-block;
        background-color:#ffc04c;
        transition: 0.3s ease;
   }
    .menu li + li {
        margin-top: 12px;
   }
    input[type=checkbox]:checked ~ .menu{
        display: block;
   }
    .hamburger {
        display: block;
   }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
   }
    .dropdown li:hover {
        background-color: #ffc04c;
   }
}
