:root {
  --grey-s01: #070808;
  --grey-s02: #101113;
  --grey-s03: #181b1e;
  --grey-s04: #212529;
  --grey-s05: #2a2f34;
  --grey-s06: #32393f;
  --grey-s07: #3b424a;
  --grey-s08: #444c54;
  --grey-s09: #4d565f;
  --grey-s10: #55606a;
  --grey-s11: #5e6a75;
  --grey-s12: #677380;
  --grey-s13: #707d8b;
  --grey-t01: #7a8794;
  --grey-t02: #85919d;
  --grey-t03: #909ba6;
  --grey-t04: #9ba5ae;
  --grey-t05: #a6aeb7;
  --grey-t06: #b0b8c0;
  --grey-t07: #bbc2c9;
  --grey-t08: #c6ccd1;
  --grey-t09: #d1d6da;
  --grey-t10: #dcdfe3;
  --grey-t11: #e7e9ec;
  --grey-t12: #f2f3f4;
  --grey-t13: #fdfdfd;
  --amaranth-s01: #100003;
  --amaranth-s02: #230006;
  --amaranth-s03: #37000a;
  --amaranth-s04: #4b000d;
  --amaranth-s05: #5e0010;
  --amaranth-s06: #720014;
  --amaranth-s07: #850017;
  --amaranth-s08: #99001b;
  --amaranth-s09: #ad001e;
  --amaranth-s10: #c00022;
  --amaranth-s11: #d40025;
  --amaranth-s12: #e80029;
  --amaranth-s13: #fb002c;
  --amaranth-t01: #ff103a;
  --amaranth-t02: #ff234a;
  --amaranth-t03: var(--c-amaranth);
  --amaranth-t04: #ff4b6a;
  --amaranth-t05: #ff5e7a;
  --amaranth-t06: #ff728b;
  --amaranth-t07: #ff859b;
  --amaranth-t08: #ff99ab;
  --amaranth-t09: #ffadbb;
  --amaranth-t10: #ffc0cb;
  --amaranth-t11: #ffd4db;
  --amaranth-t12: #ffe8ec;
  --amaranth-t13: #fffbfc;
  --blue-t01: #020109;
  --blue-t02: #07021b;
  --blue-t03: #0c032e;
  --blue-t04: #100440;
  --blue-t05: #150652;
  --blue-t06: #190765;
  --blue-t07: #1e0877;
  --blue-t08: #230a89;
  --blue-t09: #270b9c;
  --blue-t10: #2c0cae;
  --blue-t11: #310dc0;
  --blue-t12: #350fd3;
  --blue-t13: var(--c-blue);
  --blue-s01: #441aef;
  --blue-s02: #532cf0;
  --blue-s03: #623ef2;
  --blue-s04: #7151f3;
  --blue-s05: #8063f4;
  --blue-s06: #8f75f5;
  --blue-s07: #9e88f7;
  --blue-s08: #ad9af8;
  --blue-s09: #bbacf9;
  --blue-s10: #cabffb;
  --blue-s11: #d9d1fc;
  --blue-s12: #e8e3fd;
  --blue-s13: #f7f6fe;
  --cream-t0: #fdf0e6;
  --c-dark-navy: #212529;
  --c-navy: #141c36;
  --c-amaranth: #ff375a;
  --c-white: #fff;
  --c-blue: #3a10e5;
  --c-sky: #66c4ff;
  --gainsboro: #dcdcdc;
  --lightgrey: #d3d3d3;
  --silver: #c0c0c0;
  --darkgrey: #a9a9a9;
  --grey: #808080;
  --dimgrey: #696969;
  --lightslategrey: #778899;
  --slategrey: #708090;
  --darkslategrey: #2f4f4f;
  --black: #000000;
  --background-color:var(--gainsboro);
  --text-color-link-visited: var(--c-dark-navy);
}
